<header class="header-site" role="banner">
    <div class="content">

        <div class="person">
            <img alt="My photo" src="https://res.cloudinary.com/devsxljfx/image/upload/v1486220130/gigantloga.png" alt="">
        </div>
        <p style="font-size:20px;">
            Gigant lab är en kreativ byrå som utvecklar och skapar <br> digitala lösningar till alla plattformar.
        </p>
<!--
        <ul class="recent">
            <p>Recent posts:</p>
             {% for post in site.posts limit:3%}
                <li>
                    <a title="Will take a my recent post" href="{{ post.url | prepend: site.baseurl }}">
                        <h2 class="post-title" itemprop="name">{{ post.title }}</h2>
                    </a>
                </li>
              {% endfor %}
        </ul>

        <ul class="recent">
            <p>Recent projects:</p>
             {% for project in site.projects limit:3%}
                <li>
                    <a title="Show my recent project" href="{{ project.url}}">
                        <h2 class="post-title" itemprop="name">{{ project.name }}</h2>
                    </a>
                </li>
              {% endfor %}
        </ul>
      -->
        <br>
        <br>
        <div>
        <div class="col-md-6">
                <div class=".col-md-6">
                    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-7b4e635c903dc93728bd">
                            <p class="text-align-center">Försäljning - Matilda Ekman<br><a href="mailto:matilda.ekman@gigantlab.com"style="color: #222; text-decoration: none; border-bottom: 1px solid #111; border-color: rgba(17,17,17,.2);" >matilda.ekman@gigantlab.com</a></p>
                        </div>
                    </div>
                </div>
                <br>
                <!--
                <div class="col sqs-col-3 span-3">
                    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_8_1472803986260_7833">
                        <div class="sqs-block-content">
                            <p class="text-align-center">Rekrytering - Emil Karlsson<br><a href="mailto:emil.karlsson@gigantlab.com"style="color: #222; text-decoration: none; border-bottom: 1px solid #111; border-color: rgba(17,17,17,.2);" >emil.karlsson@gigantlab.com</a></p>
                        </div>
                    </div>
                </div>
              -->
                <br>
                <br>
            <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_2_1476895181641_27862">
                <div class="sqs-block-content">
                    <p class="text-align-center">Samarbetsförfrågningar <br><a href="mailto:hello@gigantlab.com"style="color: #222; text-decoration: none; border-bottom: 1px solid #111; border-color: rgba(17,17,17,.2);">hello@gigantlab.com</a></p>
                </div>
            </div>
            <br>
            <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_8_1472803986260_6128">
                <div class="sqs-block-content">
                    <p class="text-align-center">Övrigt<br><a href="mailto:hello@gigantlab.com"style="color: #222; text-decoration: none; border-bottom: 1px solid #111; border-color: rgba(17,17,17,.2);">hello@gigantlab.com</a></p>
                    <br>
                    <p class="text-align-center">Övriga medarbetare<br>förnamn.efternamn@gigantlab.com</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <!--
        <div class="icons-home">
            <a aria-label="Send email" title="Send me a e-mail" href="mailto:{{site.email}}">
                <svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg>
            </a>

            <a aria-label="My Twitter" title="Follow me on Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}">
                <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
            </a>

            <a aria-label="My Google Plus" title="Show my feed" target="_blank" href="https://plus.google.com/u/0/+{{site.gplus_username}}/posts">
                <svg class="icon icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg>
            </a>

            <a aria-label="My Github" title="Show my projetcts" target="_blank" href="https://github.com/{{site.github_username}}">
                <svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg>
            </a>

            <a aria-label="Use the RSS to get updated" title="Register for my RSS" target="_blank" href="{{ " /feed.xml " | prepend: site.baseurl }}">
                <svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg>
            </a>
        </div>
      -->

    </div>
    {% include menu-search.html %}
</header>
